.App {
  height: 100vh;
  background-color: #AF928F;
  text-align: center;
}

.appContents {
  height: 100%;
  background-color: #AF928F;
  display: flex;
  text-align: center;
}

.SharkTank {
  background-color: #6C81A4;
  width:50%;
  text-align: center;
}

div.singleStudent.card{
  margin: 5px;
  padding: 20px;
  border-radius: 50% 50% 0 0;
  background-color: #AF928F;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.graveyard {
  width: 50%;
  background-color: #7897A7;
  text-align: center;
}
